.main{
    background-image: url('https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40545/Geometric_Bg_generated.jpg');
    

}
.data-field{
  
    background-color:rgba(255, 255, 255, 0.851)
}

.data-field:hover{
    background-color: rgb(202, 254, 243);
}
   

.bmi-details{
    background-color: aquamarine;
}
.calculate{
    width: 200px;
    height: 40px;
}
.calculate:hover{
    
    box-shadow: 2px 2px;
   
}
.reload{
    color: black;
}
.bmi-details{
    background-color: rgba(202, 254, 243, 0.563);
    
}

.bmi-details:hover{
    background-color: rgb(200, 254, 210);
  
}